body {
  font-size: 16px;
  border: dotted 1px;
  background: #1fdf75;
  overflow: hidden;
}

svg {
  position: relative;
  padding: auto;
  z-index: auto;
  left: 2%;
  top: 5%;
}

.App {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  border: dotted 1px
}

.side-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* height: 100vh; */
  margin-top: 10px;
  background:  #1fdf75;
  /* background: #3e3f42; */
  max-width: 100%; 
  border: 1px dotted;
  text-align: center;
  opacity: 0.75;
  
}

.side-bar input {
  height: 35px;
  width: 90%;
  margin-top: 1rem;
  box-shadow: 5px 5px 5px #888888;
  font-size: 18px;
}

.main-content {
  padding: 10px;
}

.list-items {
  list-style-type: none;
  padding: 0;
  font-size: 24px;
  line-height: 1.8;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}
.list-items li {
  border: 1px solid #3e3f42;
  background: #b2b3b7;
  box-shadow: 5px 8px 8px #888888;
  margin-top: 6px;
  cursor: pointer;
}


.map-header {
  display: none;
  position: fixed;
  width: 36;
  height: 30px;
  left: 36px;
  top: 36;
}
@media screen and (mX-width: 320px) {
/* and (max-width: 620px) { */
  .side-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background:  #1fdf75;
    max-width: 50%;
  }
}